{% extends 'base.html' %}
{% block content %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5 sulphur-point-regular">
    <div class="col-10 col-sm-8 col-lg-6"><img src="{{ project.img_url }}" class="d-block mx-lg-auto img-fluid"
                                               alt="Bootstrap Themes" width="400" height="300" loading="lazy"></div>
    <div class="col-lg-6"><h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ project.title }}</h1>
        <p class="lead">{{ project.body|safe }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" class="btn btn-light btn-lg px-4 me-md-2" href="{{ project.github }}">Show on Github</a>
            {% if current_user.id == 1 %}
            <a type="button" class="btn btn-danger btn-lg px-4 me-md-2" href="{{ url_for('terminate_project', project_id = project.id) }}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}